<span class="d8-wrap">
    <span class="d8">
        <span class="d8-inner">
            <svg viewBox="0 0 56 57" fill="none" role="img" aria-label="D8" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.8735 2.00001L1.52148 28.3521L27.8735 54.7041L54.2256 28.3521L27.8735 2.00001Z" fill="white" stroke="#B30044" stroke-width="2" class="sc-dlVxhl jCFKVa"></path>
                <text x="27" y="38" text-anchor="middle" font-size="28px" font-weight="bold" fill="#1F2834" aria-hidden="true" class="sc-fKVqWL RTCS">8</text>
            </svg>
        </span>
    </span>
</span>