---
layout: default
---
<div id="filter" class="container key">
  <p>Filter by:</p>
  <div class="game">Game</div>
  <div class="supplement">Supplement</div>
</div>
<div class="container home">
  {% for project in site.projects %}
    <a href="{{ project.link }}" class="card {{ project.type }}">
      <img src="/assets/img/projects/{{ project.title | slugify }}.jpg" alt="">
      <div class="card-info">
        <h2>{{ project.title }}</h2>
        <h3>{{ project.author }}</h3>
      </div>
    </a>
  {% endfor %}
</div>